# Python
__pycache__/
*.pyc
venv/
*.env
.env

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log
